* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg:#F7F6F3;
  --surface:#ffffff;
  --sidebar:#2F2F2F;

  --primary:#C58B81;

  --text:#2F2F2F;
  --text-light:#666;

  --border:#E5E5E5;

  --shadow:0 5px 20px rgba(0,0,0,.08);
  
}

body.dark{
  --bg:#181818;
  --surface:#242424;
  --sidebar:#111111;

  --primary:#D6A28F;

  --text:#F5F5F5;
  --text-light:#BBBBBB;

  --border:#3A3A3A;

  --shadow:0 5px 20px rgba(0,0,0,.45);
}

body{
  background:var(--bg);
  color:var(--text);
  transition:.3s ease;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
}

input{
  outline:none;
  background:var(--surface);
  color:var(--text);
  border:1px solid var(--border);
}
